<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>hey! you are registed..........</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Aut itaque mollitia omnis totam ullam? Asperiores deleniti exercitationem maiores mollitia nulla praesentium recusandae rem similique voluptatibus. At dolorem esse eum fugit incidunt mollitia necessitatibus officiis perferendis soluta. Cupiditate dolore doloribus dolorum, et neque nesciunt non porro possimus praesentium quibusdam quisquam repellat?</p>
</body>
</html>